.footer {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  max-width: 960px;
  flex: 1;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 40px;
  text-align: center;
  container-type: inline-size;
}

.footer-text {
  color: #90adcb;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 20px;
  }
}
